<%- include('./partials/header.ejs'); -%>
<div class="container2" id="bodyid2">
    <a href="/">Logout</a>
</div>
<div id="thegrid" class="gridcontainer">
    <%gridData.forEach(movie => {%>
      <ul id="gridiron" class="ulgrid">
          <li class="moviegrid">
            <span id="titleid"><div><%=movie.title%></div></span>
            <img class="movimage" src="https://image.tmdb.org/t/p/w1280<%=movie.poster_path%>" alt="<%=movie.title%>"/>
              <div class="beltdiv">Popularity: <%=movie.popularity%></div>                    
              <div class="truncate"><span id="titleid"><%=movie.overview%></span></div>
              <div><span id="changecol">Release Date: </span><%=movie.release_date%></div>
              <div class="avote"><span class="avote">Average Vote: </span><span id="roundaverage"><%=movie.vote_average%></span></div>
          </li>
      </ul>
    <% });%>
</div>

<%- include('./partials/footer.ejs'); -%>