<%- include('./partials/header.ejs'); -%>
<!-- <div class="container2" id="bodyid">

    movies/search
    
</div> -->
<div class="three-images-wrapper container2" id="bodyid">
  
	<div class="three-images">
    <div class="featured-image-outer">
      <div id="featureimage" class="featured-image-inner" style="background-image: url('images/xmen.png')">
        <span id="herotext">Recommendations <br>based on mood swing</span>
      </div>
      <form id="searchapi" action="/" method="GET" autocomplete="off">
        <input id="searchbox" type="text" name="search" value="" placeholder="How do you feel today - 'Happy, Sad, Lonely...'"/>
        <input id="search" type="submit" value="Search"/>
      </form>
    </div>
		<div class="two-images">
      <div class="two-images-outer">
        <div id="secimage" class="two-images-inner"
             style="background-image: url('images/raya.png');">
             <!-- <p class="heroparagraph">MoodWatch<br>Contents based on your moodswing</p> -->
        </div>
      </div>

      <div class="two-images-outer">
        <div id="thirdimage" class="two-images-inner"
             style="background-image: url('images/coming.png');">
        </div>
      </div>
    </div>
	</div>
</div>

<p id="wework" class="howitworks">How it works</p>
<div class="howitworks">
    <ul class="howitworksorderlist">
        <li class="howitworkslist"><span class="itworks">Participate</span>Search for movies, streaming shows or TV series to see details, stats, ratings, and everything related based on your mood</li>
        <li id="middleworklist" class="howitworkslist"><span class="itworks">...then</span>Initial recommendations are based on your location, weather, season</li>
        <li class="howitworkslist"><span class="itworks">Finally</span>Search or browse for any movie of your choice to see details, stats, budget, and everything related to the movie</li>
    </ul>
</div>
<div id="thegrid" class="gridcontainer">
    <%gridData.forEach(movie => {%>
      <ul id="gridiron" class="ulgrid">
          <li class="moviegrid">
            <span id="titleid"><div><%=movie.title%></div></span>
            <img class="movimage" src="https://image.tmdb.org/t/p/w1280<%=movie.poster_path%>" alt="<%=movie.title%>"/>
              <div class="beltdiv">Popularity: <%=movie.popularity%></div>                    
              <div class="truncate"><span id="titleid"><%=movie.overview%></span></div>
              <div><span id="changecol">Release Date: </span><%=movie.release_date%></div>
              <div class="avote"><span class="avote">Average Vote: </span><span id="roundaverage"><%=movie.vote_average%></span></div>
          </li>
      </ul>
    <% });%>
</div>

<%- include('./partials/footer.ejs'); -%>